# User Specific
Especificaciones.md
*.txt
DEPLOYMENT_GUIDE.md
app/src/config.ts
app/src/config.prod.ts

# Build Folders
**/bin/
**/obj/
server/api_publish/
EuskalLingo.apk

# Databases
*.db
*.db-shm
*.db-wal
server/EuskalIA.Server/euskalia.db

# Testing
**/TestResults/
**/coverage.json
**/*.txt
*.log
app/playwright-report/
app/test-results/

# Dependencies
app/node_modules/
node_env/

# Secrets & Environment Variables
*.env
.env
.env.*

# IDEs
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates
EuskalIA_Production.apk
Lessons/
seed_exercises.py