# User Specific
Especificaciones.txt
*.txt
DEPLOYMENT_GUIDE.md

# Build Folders
**/bin/
**/obj/

# Databases
*.db
*.db-shm
*.db-wal
server/EuskalIA.Server/euskalia.db

# Testing
**/TestResults/
**/coverage.json
**/*.txt

# Dependencies
app/node_modules/
node_env/

# IDEs
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates
